/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  background: #ffffff;
  color: #000000;
}

div,
ul,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visual-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1600px;
  }
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.1;
  color: #000000;
}

@media screen and (min-width: 480px) {
  .logo {
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 0;
  }
}

@media screen and (min-width: 1600px) {
  .logo {
    padding-left: 230px;
  }
}

.logo-web {
  color: #2196f3;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header-nav {
    height: 60px;
  }
}

.header-button {
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-button:hover {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .header-button {
    display: none;
  }
}

.header-button .icon-cross {
  display: none;
}

.header-button.is-open .icon-cross {
  display: block;
}

.header-button.is-open .icon-menu {
  display: none;
}

.header-navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-navigator {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 30px;
    padding-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header-navigator {
    margin-right: 69px;
  }
}

@media screen and (min-width: 1600px) {
  .header-navigator {
    margin-right: 305px;
  }
}

.link {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .link {
    padding-top: 33px;
    padding-left: 40px;
    text-align: center;
    font-size: 40px;
    line-height: 47px;
    color: #212121;
  }
}

@media screen and (min-width: 768px) {
  .link {
    padding: 32px 0;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
  }
}

@media screen and (min-width: 768px) {
  .link:hover, .link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .link:not(:last-child) {
    margin-right: 50px;
  }
}

.active {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .border-index::after {
    position: absolute;
    top: 96%;
    left: 0%;
    width: 48px;
    height: 4px;
    content: "";
    border: 1px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-contact {
    padding-left: 40px;
    padding-top: 306px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) {
  .header-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1600px) {
  .header-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 215px;
  }
}

.header-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .header-tel {
    font-size: 34px;
    line-height: 40px;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .header-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    line-height: 14px;
    color: #757575;
  }
}

.header-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .header-mail {
    font-size: 24px;
    line-height: 28px;
    color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .header-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    color: #757575;
  }
}

@media screen and (min-width: 1600px) {
  .header-mail {
    padding-right: 30px;
  }
}

.header-social {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header-mail-list {
    display: block;
    padding-top: 32px;
  }
}

.header-social-list {
  padding-top: 64px;
  padding-bottom: 48px;
}

@media screen and (min-width: 767px) {
  .header-social-list {
    display: none;
  }
}

.border {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 767px) {
  .header-svg-mail {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-svg-mail {
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1199px) {
  .header-svg-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (max-width: 767px) {
  .header-svg-tel {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-svg-tel {
    width: 10px;
    height: 14px;
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1199px) {
  .header-svg-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (max-width: 767px) {
  .menu-container.is-open {
    display: block;
    position: absolute;
    top: 0%;
    margin-left: -15px;
    left: auto;
    width: 480px;
    height: auto;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 88px;
  }
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/header/Header-480.jpg), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
  background-image: url(../images/header/Header-480.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.hero-title {
  width: 360px;
  margin: auto;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button-index {
  padding: 0;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.button-index:hover, .button-index:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1600px) {
  .feature {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.feature-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .feature-ul {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media screen and (min-width: 1600px) {
  .feature-ul {
    margin-right: 200px;
    margin-left: 200px;
  }
}

@media screen and (min-width: 768px) {
  .feature-li {
    width: calc((100% - 4 * 15px) /2);
    margin: 15px;
  }
}

@media screen and (min-width: 1600px) {
  .feature-li {
    width: calc((100% - 8 * 15px) /4);
    margin: 15px;
  }
}

.feature-svg {
  display: block;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 190px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .feature-svg {
    width: 354px;
    height: 120px;
    padding: 25px 142px;
  }
}

@media screen and (min-width: 1600px) {
  .feature-svg {
    width: 270px;
    height: 120px;
    padding: 25px 100px;
  }
}

.feature-head {
  display: block;
  height: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .feature-head {
    text-align: center;
  }
}

.feature-text {
  display: block;
  height: 75px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1599px) {
  .specificity {
    display: none;
  }
}

.images {
  padding-bottom: 94px;
}

.image-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 200px;
  margin-left: 200px;
}

.images-title {
  margin-bottom: 50px;
  height: 42px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.images-li {
  position: relative;
  width: calc((100% - 6 * 15px) /3);
  margin: 15px;
}

.images-div {
  position: absolute;
  bottom: 0%;
  width: 370px;
  height: 70px;
}

.img {
  display: block;
}

.images-p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 220px;
  height: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  padding-top: 60px;
  padding-bottom: 94px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#f5f4fa), to(#f5f4fa));
  background-image: linear-gradient(to right, #f5f4fa, #f5f4fa);
}

.team-title {
  margin-bottom: 50px;
  height: 42px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list {
  height: 626px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team .head {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.team .text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
}

.team-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: transparent;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-button:focus, .team-button:hover {
  fill: #ffffff;
  background-color: #2196f3;
}

.team-button:not(:last-child) {
  margin-right: 10px;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-title {
  margin-bottom: 50px;
  height: 42px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.client-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.client-li {
  position: relative;
  width: calc((100% - 4 * 15px) /2);
  margin: 15px;
}

.client-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 90px;
  padding: 20px 45px;
  color: #afb1b8;
  background-color: transparent;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-button:hover, .client-button:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.client-svg {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#2f303a), to(#2f303a));
  background-image: linear-gradient(to right, #2f303a, #2f303a);
}

.footer-content {
  display: block;
  text-align: center;
}

.container-logo {
  display: block;
  padding-bottom: 20px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.1;
  color: #ffffff;
}

.footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-adress {
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link {
  padding-bottom: 14px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus {
  color: #2196f3;
}

.footer-link:last-child {
  padding-bottom: 60px;
}

.footer-h {
  padding-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 60px;
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 44px;
  height: 44px;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:not(:last-child) {
  margin-right: 10px;
}

.footer-button:hover, .footer-button:focus {
  background-color: #2196f3;
}

.form-h {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-input {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #757575;
}

.form-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0;
  padding-left: 29px;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  border: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.form-svg {
  position: absolute;
  left: 148px;
  width: 24px;
  height: 24px;
  fill: #f5f4fa;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 400px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-butten {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-butten:hover {
  fill: #2196f3;
}

.button-index {
  padding: 0;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.button-index:hover, .button-index:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
}

.modal-h {
  width: 370px;
  height: 40px;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-fild {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  width: 370px;
}

label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 34px;
  border: 1px solid #757575;
  border-radius: 4px;
  color: #757575;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:hover, input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

textarea {
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  border: 1px solid #757575;
  border-radius: 4px;
  color: #757575;
}

textarea:focus, textarea:hover {
  outline: none;
}

textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input {
  cursor: pointer;
}

.modal-input:hover + .moda-svg,
.modal-input:focus + .moda-svg {
  fill: #2196f3;
}

.moda-svg {
  position: absolute;
  width: 16px;
  height: 14px;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form button {
  margin-top: 30px;
  margin-left: 85px;
}

.checkbox-in {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.checkbox-in:checked + .checkbox-icon {
  background-color: #2196f3;
  border-color: transparent;
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-a {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-left: 5px;
  text-decoration: underline;
  color: #2196f3;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
}
/*# sourceMappingURL=main.css.map */