.client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client-title{
    margin-bottom: 50px;
    height: 42px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor('title-text-color');
}

.client-ul {
    display:flex;
    flex-wrap: wrap;
        @media screen and(min-width:$mobile) {
            margin-left: -15px;
            margin-right: -15px;
        }
        @media screen and(min-width:$desktop) {
            margin-right: 200px;
            margin-left: 200px;
        }
}

.client-li {
    position: relative;
    width: calc((100% - 4 * 15px) /2);
    margin: 15px;
        @media screen and(min-width:$tablet) {
            width: calc((100% - 6 * 15px) /3);
            margin: 15px;
        }
        @media screen and(min-width:$desktop) {
            width: calc((100% - 12 * 15px) /6);
            margin: 15px;
        }
}
   
.client-button {
    display: flex;
    width: 210px;
    height: 90px;
    padding: 20px 45px;
    color: getColor('social-link-button');
    background-color: transparent;
    border: 1px solid getColor('social-link-button');
    border-radius: 4px;
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color: getColor('accent-color');
        border-color: getColor('accent-color'); 
    }
    @media screen and(min-width:$tablet) {
        width: 226px;
    }
    @media screen and(min-width:$desktop) {
        width: 170px;
    }
}

.client-svg {
    fill: currentColor;
}