.feature {
    padding-top:60px ;
    padding-bottom:60px ;
    @media screen and(min-width:$desktop) {
        padding-bottom: 94px;
        padding-top: 94px;
    } 
}

.feature-ul {
    display: flex;
    flex-wrap: wrap;
    @media screen and(min-width:$tablet) {
    margin-left: -15px;
    margin-right: -15px;
    }
    @media screen and(min-width:$desktop) {
        margin-right: 200px;
        margin-left: 200px;
    }
}

.feature-li {
    @media screen and(min-width:$tablet) {
        width: calc((100% - 4 * 15px) /2);
        margin: 15px;
      }
      @media screen and(min-width:$desktop) {
        width: calc((100% - 8 * 15px) /4);
        margin: 15px;
      }
}

.feature-svg {
    display: block;
    width: 450px;
    height: 120px;
    margin-bottom:30px ;
    padding: 25px 190px;
    border-radius: 4px;
    background-color: getColor('batton-background-color');
    @media screen and(min-width:$tablet) {
        width: 354px;
        height: 120px;
        padding: 25px 142px;
    }
    @media screen and(min-width:$desktop) {
        width: 270px;
        height: 120px;
        padding: 25px 100px;
    }
}

.feature-head {
    display: block;
    height: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('title-text-color');
    @media screen and(max-width:767px) {
        text-align: center;
    }
}

.feature-text {
    display: block;
    height: 75px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: getColor('primeri-text-color');
}