.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to right, #2f303a, #2f303a);
}

.footer-content {
    display:block;
    text-align: center;
}

.container-logo {
    display: block;
    padding-bottom: 20px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.1;
    color: getColor('white-color');
}

.footer-cont{
   display: flex;
   flex-direction: column;
}

.footer-adress {
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: getColor('white-color');
}

.footer-link {
    padding-bottom: 14px;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color: getColor('accent-color'); 
    }
    &:last-child {
        padding-bottom: 60px;
    }
}

.footer-h {
    padding-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('white-color');
}

.footer-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
}

.footer-button {
    display: flex;
    
    border: none;
    width: 44px;
    height: 44px;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    fill: getColor('white-color');
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:not(:last-child) {
        margin-right: 10px;
    }
    &:hover, &:focus{
        background-color: getColor('accent-color');
    }
}

.form-h {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('white-color');
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    
    width: 450px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;
    background-color: getColor('footer-background-color');
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: getColor('primeri-text-color');
}

.form-button {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
    // margin-left: 12px;
    padding-left: 29px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: getColor('accent-color');
    border: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: getColor('white-color');
    cursor: pointer;
}

.form-svg {
    position: absolute;
    left: 148px;
    width: 24px;
    height: 24px;
    fill: getColor('batton-background-color');
}
