.header {
    position: relative;
    border-bottom: 1px solid getColor('border-color'); 
}

.header-nav {
    @include flex;
    justify-content: space-between;
    height: 60px;   
}

.header-button{
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
    @include transit (fill);
    &:hover {
        fill: getColor('accent-color');
     }
     @media screen and (min-width:$tablet){
        display: none;  
     }
}

.header-button .icon-cross {
    display: none;
}

.header-button.is-open .icon-cross {
    display: block;
}

.header-button.is-open .icon-menu {
    display: none;
} 

.header-navigator{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
}
.link {
    padding-top: 33px;
    padding-left: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: getColor('title-text-color');
}

.active{
    color: getColor('accent-color');
}
 .header-contact {
     padding-left: 40px;
     padding-top: 302px;
     display: flex;
     flex-direction: column-reverse;
}
.header-tel{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: getColor('accent-color');
}
.header-mail{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: getColor('primeri-text-color');
}
.header-social {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: getColor('accent-color');
    cursor: pointer;

}
.header-mail-list {
    display: block;
    padding-top: 32px;
    font-family: Roboto;
}
.header-social-list{
    padding-top: 64px;
    padding-bottom: 48px;
}
.border {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    
}

.header-svg-mail, .header-svg-tel {
    display: none;
}
