.header {
    position: relative;
    border-bottom: 1px solid getColor('border-color'); 
}

.header-nav {
    @include flex;
    justify-content: space-between;
    height: 60px;   
}

.header-button{
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @include transit (fill);
    &:hover {
        fill: getColor('accent-color');
     }
     @media screen and (min-width:$tablet){
        display: none;  
     }
}

.header-button .icon-cross {
    display: none;
}

.header-button.is-open .icon-cross {
    display: block;
}

.header-button.is-open .icon-menu {
    display: none;
}  
