.menu-container {
    &.is-open{
        display: block;
    }
    @media screen and (max-width:767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    @media screen and (min-width:$tablet){
        display: flex;
    }
}